<%= link_to("<< Back to Sections List", {:action => 'index'}, :class => 'back-to link') %>
<div class="Sections edit">
  <h2>Update Section</h2>

  <%= form_for(:section, :url => {:action => 'update', :id => @section.id}) do |f| %>

      <div class="form_buttons">
      <%= submit_tag("Update Section") %>
    </div>
  <% end %>
</div>

