<!DOCTYPE html>
<html>
	<head>
	  <title>Simple CMS</title>	  
	</head>
	<body>
	  <div id="header">
	  	<h2>The One-Stop Anti-Trafficking Info Shop - Admin</h2>
	  </div>
	  <div od="main">
	  	<div id="content">
    <!--before yield -->
	      <%= yield %>
	<!--after yield -->
	    </div>
	    <div id="footer">
	      <p id="copyright">&copy; Jacqueline S. Homan, 2014. All rights reserved.</p>
	    </div>
	</body>
</html>