<!DOCTYPE html>
<html>
	<head>
	  <title>The Anti-Trafficking One-Stop Info Shop</title>
	  <%= javascript_include_tag('public') %>	  
	</head>
	<body>
    <!--before yield -->
	<%= yield %>
	<!--after yield -->

	</body>
</html>
